[submodule "third_party/QHotkey"]
	path = third_party/QHotkey
	url = https://github.com/Skycoder42/QHotkey
[submodule "third_party/axios"]
	path = third_party/axios
	url = https://github.com/axios/axios
[submodule "third_party/libmobi"]
	path = third_party/libmobi
	url = https://github.com/QuickDict/libmobi
[submodule "third_party/unac"]
	path = third_party/unac
	url = https://github.com/QuickDict/unac
[submodule "third_party/libmdx"]
	path = third_party/libmdx
	url = https://github.com/QuickDict/libmdx.git
